*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.js-btn{
    padding: 10px;
    background-color: aquamarine;
    color: white;
    border-radius: 5px;
    border: 2px solid purple;
}