.js-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.js-btn {
    background-color: aquamarine;
    color: white;
}

li {
list-style-type: none;
} 

.hidden{
    display: none;
}