/*main {
    display: flex;
    align-content: center;
}*/
.container{
    display: block;
}
.sign {
    background-color: blue;
    color: white;
    border-radius: 5px;
}
.paragraph{
    text-align: center;
}
.button {
    background-color: blue;
    color: white;
    padding: 50px;

}