<section class="author">
    <article class="bio">
        <img src="https://via.placeholder.com/150x150" alt="" class="bio_img">
        <h3>Autor</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam iure cupiditate at blanditiis possimus aliquid repudiandae! </p>
    </article>
    <section>
        <nav class="menu">
            <ul>
                <li>Sección 1</li>
                <li>Sección 2</li>
                <li>Sección 3</li>
                <li>Sección 4</li>
                <li>Sección 5</li>
            </ul>
            <ul>
                <li>Categoría 1</li>
                <li>Categoría 2</li>
                <li>Categoría 3</li>
                <li>Categoría 4</li>
                <li>Categoría 5</li>
            </ul>
        </nav>
    </section>
</section>