<main>
    <h2>Regístrate para ver fotos y vídeos de tus amigos.</h2>
    <div class="container">
        <button class="sign">Iniciar sesión con Facebook</button>
        <span>---------------------o---------------------</span>
        <form action="">
            <input placeholder="Número de móvil o correo electrónico" type="text">
            <input placeholder="Nombre completo" type="text">
            <input placeholder="Nombre de usuario" type="text">
            <input placeholder="Contraseña" type="password">
            <label for="terms">Acepto los términos y condiciones.</label>
            <input id="terms" type="checkbox">
            <input type="reset" value="Restaurar valores por defecto" />
        </form>
    </div>
    <p class="paragraph">
        Es posible que los usuarios de nuestro servicio hayan subido tu información de contacto en Instagram. Más información
    </p>
    <p class="paragraph">
        Al registrate, aceptas nuestras Condiciones. Obtén más información sobre cómo recopilamos, usamos y compartimos tu información en la Política de datos, así como el uso que hacemos de las cookies y tecnologías similares en nuestra Política de cookies.
    </p>
    <input type="submit" value="Siguiente" class="button">
</main>